.navBar {
  display: flex;
  float: right;
}
.button {
  all: unset;
  width: fit-content; 
  text-align: center;
  margin: 1vh;
  position: relative;
  animation-name: test;
  animation-duration: 2s;
}
.button:hover {
  color: brown;
  box-shadow: 0 2px 0px red;
  animation-name: test;
  animation-duration: 2s;
}

.button:active {
  color: green;
  position: relative;
  /* transform: rotate(.5turn);
  transform: rotate(1turn); */
  animation-name: test;
  animation-duration: 2s;
}

@keyframes test {
  25% {left:25px;}
  50% {left:0px;}
  75% {right:500px;}
  100% {right:0px;}
}