:root {
  --taskbarHeight: 55px
}

* {
  font-family: Arial;
  font-weight: bold;
  color: white;
  image-rendering: pixelated;
  /* user-select: none; */
  
}


img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

button {
  all: unset;
  /* padding: 0 4vw; */
  height: 100%;
  vertical-align: text-bottom;
}

.footer {
  user-select: none;
  bottom: 0px;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(to bottom right, #296fe6, #3766b8);
  box-shadow: 1px 1px 5px 1px black;
  height: var(--taskbarHeight);
  z-index: 1000;
}

.StartMenu {
  left: .15em;
  background-image: radial-gradient(#7696cd,#1060c8);
  width: 30em;
  height: 30em;
  position: absolute;
  bottom: calc(var(--taskbarHeight) + 1vh);
  margin-top: auto;
  border-radius: .5em;
  box-shadow: 1px 1px 5px 1px black, 1px 1px 4px 1px white inset;
  z-index: 10000;
}

.UserGroup {
  display: inline-block;
  padding: 2%;
}

#UserProfilePicture{
  display: inline;
  border: .15em solid white;
  border-radius: .2em;
}

#UserName{
  padding-left: .5em;
  position: relative;
  bottom: 1em;
  display: inline;
  vertical-align: middle;
  font-size: 1.5em;
}

.taskBar {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: fit-content;
}


.timeDate {
  padding-right: .25vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* position: absolute;
  top: 0px;
  right: 0px */
}

.tasks {
  display: flex;
  position: static;
  height: 100%;
}

.task {
  /* position: relative; */
  margin: 0 .5em;
  padding: 0 .5em;
  /* height: 90%; */
  bottom: .1em;
  display: flex;
  align-items: center;
  /* background-image: linear-gradient(to bottom right, #4780e1, #5389e7); */
  border-radius: 5px;
}

.task:hover {
  filter: brightness(110%);
}

.task:active {
  filter: brightness(90%);
}

#taskName {
  padding: 0 .5em;
  padding-left: .25em;
  display: inline;
  font-size: 100%;
  color: white;
}

#taskIcon {
  height: 40px;
  width: 40px;
}


.StartButton {
  display: flex;
  /* position: relative; */
  align-items: center;
  background-image: linear-gradient(to bottom, #4ad449, #3dae3c);
  width: fit-content;
  /* padding: 10px 0; */
  height: 100%;
  z-index: 0;
  border-radius: 10px/30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* .StartButton:hover {
  filter: brightness(110%) !important;
} */

.StartButton:active {
  filter: brightness(90%);
}


#StartLogo {
  display: inline;
  height: inherit;
  scale: 75%;
  z-index: 5;
  vertical-align: bottom;
}

#Start {
  height: fit-content;
  padding-right: 45px;
  font-style: italic;
  font-size: 2.5em;
  color: white;
  z-index: 10;
}

.Desktop {
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  grid-template-rows: repeat(10, auto);
  gap: 1%;
  height: 50px;
}

.window {
  background-color: #ffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  overflow: hidden;
  max-width: 50%;
}

.window *{
  color: black;
}

.projectGrid {
  color: black;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
  row-gap: 15px;
  align-items: center;
  justify-content: center;
  text-wrap: balance;
}

.projectIcon {
  min-width: fit-content;
  align-self: start;
  justify-self: center;
}

.window * {
  user-select: auto !important;
  max-height: 50vh;
}

.aboutMe {
  width: fit-content;
  height: fit-content;
}
.aboutMe p {
  margin: 5px 15px;
}

@media (width <= 1700px) {
  .window {
    max-width: 25%;
    font-size: 1.1em;
  }
}
@media (width > 1700px) {
  .window {
    max-width: 40%;
    font-size: 1.1em;
  }
}