* {
  font-family: Microsoft Sans Serif;
}
button {
  all: unset;
  /* padding: 0 4vw; */
  height: 100%;
  vertical-align: text-bottom;
}
.taskBar {
  bottom: 0px;
  width: 100%;
  height: 5vw;
  max-height: 55px;
  min-height: 55px;
  position: absolute;
  background-color: #3b77bc;
}

.tasks {
  display: inline-block;
  position: static;
  height: 100%;
}

.task {
  padding: 0 1em;
  height: inherit;
  display: inline-block;
}

#taskName {
  padding: 0 1em;
  display: inline;
}

#taskIcon {
  height: 45px;
  width: 45px;
  display: inline;
}

.greenbar {
  display: inline-block;
  position: relative;
  background-image: linear-gradient(to bottom, #4ad449, #3dae3c);
  width: fit-content;
  height: 100%;
  z-index: 0;
  border-radius: 10px/30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#StartLogo {
  display: inline;
  height: inherit;
  scale: 75%;
  z-index: 5;
  vertical-align: bottom;
}

#Start {
  display: inline;
  height: inherit;
  padding-right: 45px;
  font-style: italic;
  font-size: 2.5em;
  color: white;
  z-index: 10;
}
